

<div id="filters" class="Filters fixedVisible" style="position: fixed">
        <div class="ResultCount" style="position: absolute; top: 0px;">
            <div class="OptionHead">תפריט</div>

            <div *ngFor="let category of categories;" class="cat" >
            
            <div class="cb checkbox">
                <input type="radio" class="option-input checkbox" id="ch" value="" name="radio" (click)="clickOnCategory(category.categoryId)">
                <label for="">
                    <span class="OptionName">{{category.categoryName}} </span>
                    <span class="Count"></span>
            
                </label>
            </div>
        </div>
            </div>
            <!--<div><span id="counter">  </span></div>-->
</div>


 <!-- <div class="cb checkbox">
                <input type="radio" class="option-input checkbox" id="ch" value="" name="radio">
                <label for="">
                    <span class="OptionName">טוסטים                                            </span>
                    <span class="Count"></span>
            
                </label>
            </div>
            
            <div class="cb checkbox">
                <input type="radio" class="option-input checkbox" id="ch" value="" name="radio">
                <label for="">
                    <span class="OptionName">טוסטים                                            </span>
                    <span class="Count"></span>
            
                </label>
            </div>
            
            <div class="cb checkbox">
                <input type="radio" class="option-input checkbox" id="ch" value="" name="radio">
                <label for="">
                    <span class="OptionName">טוסטים                                            </span>
                    <span class="Count"></span>
            
                </label>
            </div>
            
            <div class="cb checkbox">
                <input type="radio" class="option-input checkbox" id="ch" value="" name="radio">
                <label for="">
                    <span class="OptionName">טוסטים                                            </span>
                    <span class="Count"></span>
            
                </label>
            </div> -->