
<body>
<HTML>
<div class="warp">
<div class="products">
    <div *ngFor="let item of items;" >
        <div class="card">
            <div>
                <img src="../../../assets/products/{{item.imageName}}" style="width:300px;height:300px" id="img">
            </div>
            <h1></h1>
            <p class="productName">{{item.productName}}</p>
            <p class="price"><i class="fa fa-ils" style="font-size:14px"></i>{{item.price}}</p>

            <p><button id="btn">הוסף לסל</button></p>
        </div>
    </div>
</div>
</div>
</HTML>
</body>