@import "https://www.w3schools.com/w3css/4/w3.css";
@import "https://fonts.googleapis.com/css?family=Amatic+SC";

body, html {
    height: 100%
}

body, h1, h2, h3, h4, h5, h6 ,a,p ,option,select{
    font-family: "Amatic SC", sans-serif;
    margin-bottom: 15px;

}

.menu {
    display: none
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/w3images/pizza.jpg");
    min-height: 90%;
}
